apiVersion: batch/v1
kind: Job
metadata:
  name: ml-train-gabrielmartins-v3
  namespace: gabrielmartins
spec:
  template:
    spec:
      containers:
        - name: ml-train
          image: quay.io/garoma20/ml-recommender:0.3
          imagePullPolicy: Always
          env:
            - name: DATASET_PATH
              valueFrom:
                configMapKeyRef:
                  name: recommender-config
                  key: dataset_path
            - name: MODEL_PATH
              valueFrom:
                configMapKeyRef:
                  name: recommender-config
                  key: model_path
          volumeMounts:
            - mountPath: /mnt/model
              name: model-volume
            - mountPath: /app/datasets
              name: dataset-volume
      restartPolicy: Never
      volumes:
        - name: model-volume
          persistentVolumeClaim:
            claimName: pvc-gabrielmartins
        - name: dataset-volume
          hostPath:
            path: /home/datasets/spotify
            type: Directory
